DATASETS/
DATA/
OLD_Master_code/
Tex/
PCA_diabetes_data/
66eeb011847a692a2b93a527/
Code/Isomap_COIL-20_data/
Code/Isomap_diabetes_data/
Code/MDS_COIL-20_data/
Code/MDS_diabetes_data/
Code/PCA_COIL-20_data/
Code/PCA_diabetes_data/
Code/t-SNE_COIL-20_data/
Code/t-SNE_diabetes_data/
Code/t-SNE_MNIST_data/
Code/UMAP_COIL-20_data/
Code/UMAP_diabetes_data/
PLOTS/

zadu/
