DATASETS/
DATA/
OLD_Master_code/
Tex/
PCA_diabetes_data/
66eeb011847a692a2b93a527/
Code/Isomap_COIL-20_data/
Code/Isomap_diabetes_data/
Code/MDS_COIL-20_data/
Code/MDS_diabetes_data/
Code/PCA_COIL-20_data/
Code/PCA_diabetes_data/
Code/t-SNE_COIL-20_data/
Code/t-SNE_diabetes_data/
Code/t-SNE_MNIST_data/
Code/UMAP_COIL-20_data/
Code/UMAP_diabetes_data/
PLOTS/
.gitignore
.jukit/
Code/.jukit/
Code/.DS_Store
Code/.env 
Code/src
Code/master_thesis_dashboard
Code/pages
.DS_Store
.env
spherical_data.csv
trusworthiness.png
zadu/

master_thesis_dashboard/
code/.DS_Store
code/master_thesis_dash/__pycache__/data_cache.cpython-311.pyc
code/master_thesis_dash/__pycache__/Utils.cpython-311.pyc
code/master_thesis_dash/Isomap_diabetes_distorded_x1.5_data/graph.npy
code/master_thesis_dash/Isomap_diabetes_distorded_x1.5_data/HD_data.npy
code/master_thesis_dash/Isomap_diabetes_distorded_x1.5_data/HD_distance_matrix.npy
code/master_thesis_dash/Isomap_diabetes_distorded_x1.5_data/LD_data.npy
code/master_thesis_dash/Isomap_diabetes_distorded_x1.5_data/LD_distance_matrix.npy
code/master_thesis_dash/Isomap_diabetes_distorded_x1.5_data/results_color.pkl
code/master_thesis_dash/Isomap_diabetes_distorded_x1.5_data/results_RNX.pkl
code/master_thesis_dash/Isomap_diabetes_data/graph.npy
code/master_thesis_dash/Isomap_diabetes_data/HD_data.npy
code/master_thesis_dash/Isomap_diabetes_data/HD_distance_matrix.npy
code/master_thesis_dash/Isomap_diabetes_data/LD_data.npy
code/master_thesis_dash/Isomap_diabetes_data/LD_distance_matrix.npy
code/master_thesis_dash/Isomap_diabetes_data/results_color.pkl
code/master_thesis_dash/Isomap_diabetes_data/results_RNX.pkl
code/master_thesis_dash/Isomap_MNIST_data/graph.npy
code/master_thesis_dash/Isomap_MNIST_data/HD_data.npy
code/master_thesis_dash/Isomap_MNIST_data/HD_distance_matrix.npy
code/master_thesis_dash/Isomap_MNIST_data/LD_data.npy
code/master_thesis_dash/Isomap_MNIST_data/LD_distance_matrix.npy
code/master_thesis_dash/Isomap_MNIST_data/results_color.pkl
code/master_thesis_dash/Isomap_MNIST_data/results_RNX.pkl
code/master_thesis_dash/Isomap_s_curve_HD_data/graph.npy
code/master_thesis_dash/Isomap_s_curve_HD_data/HD_data.npy
code/master_thesis_dash/Isomap_s_curve_HD_data/HD_distance_matrix.npy
code/master_thesis_dash/Isomap_s_curve_HD_data/LD_data.npy
code/master_thesis_dash/Isomap_s_curve_HD_data/LD_distance_matrix.npy
code/master_thesis_dash/Isomap_s_curve_HD_data/results_color.pkl
code/master_thesis_dash/Isomap_s_curve_HD_data/results_RNX.pkl
code/master_thesis_dash/Isomap_s_curve_LD_data/graph.npy
code/master_thesis_dash/Isomap_s_curve_LD_data/HD_data.npy
code/master_thesis_dash/Isomap_s_curve_LD_data/HD_distance_matrix.npy
code/master_thesis_dash/Isomap_s_curve_LD_data/LD_data.npy
code/master_thesis_dash/Isomap_s_curve_LD_data/LD_distance_matrix.npy
code/master_thesis_dash/Isomap_s_curve_LD_data/results_color.pkl
code/master_thesis_dash/Isomap_spherical_data_data/graph.npy
code/master_thesis_dash/Isomap_spherical_data_data/HD_data.npy
code/master_thesis_dash/Isomap_spherical_data_data/HD_distance_matrix.npy
code/master_thesis_dash/Isomap_spherical_data_data/LD_data.npy
code/master_thesis_dash/Isomap_spherical_data_data/LD_distance_matrix.npy
code/master_thesis_dash/Isomap_spherical_data_data/results_color.pkl
code/master_thesis_dash/Isomap_spherical_data_data/results_RNX.pkl
code/master_thesis_dash/MDS_diabetes_data/graph.npy
code/master_thesis_dash/MDS_diabetes_data/HD_data.npy
code/master_thesis_dash/MDS_diabetes_data/HD_distance_matrix.npy
code/master_thesis_dash/MDS_diabetes_data/LD_data.npy
code/master_thesis_dash/MDS_diabetes_data/LD_distance_matrix.npy
code/master_thesis_dash/MDS_diabetes_data/results_color.pkl
code/master_thesis_dash/MDS_diabetes_data/results_RNX.pkl
code/master_thesis_dash/MDS_diabetes_distorded_x1.5_data/graph.npy
code/master_thesis_dash/MDS_diabetes_distorded_x1.5_data/HD_data.npy
code/master_thesis_dash/MDS_diabetes_distorded_x1.5_data/HD_distance_matrix.npy
code/master_thesis_dash/MDS_diabetes_distorded_x1.5_data/LD_data.npy
code/master_thesis_dash/MDS_diabetes_distorded_x1.5_data/LD_distance_matrix.npy
code/master_thesis_dash/MDS_diabetes_distorded_x1.5_data/results_color.pkl
code/master_thesis_dash/MDS_diabetes_distorded_x1.5_data/results_RNX.pkl
code/master_thesis_dash/MDS_MNIST_data/graph.npy
code/master_thesis_dash/MDS_MNIST_data/HD_data.npy
code/master_thesis_dash/MDS_MNIST_data/HD_distance_matrix.npy
code/master_thesis_dash/MDS_MNIST_data/LD_data.npy
code/master_thesis_dash/MDS_MNIST_data/LD_distance_matrix.npy
code/master_thesis_dash/MDS_MNIST_data/results_color.pkl
code/master_thesis_dash/MDS_MNIST_data/results_RNX.pkl
code/master_thesis_dash/MDS_s_curve_HD_data/graph.npy
code/master_thesis_dash/MDS_s_curve_HD_data/HD_data.npy
code/master_thesis_dash/MDS_s_curve_HD_data/HD_distance_matrix.npy
code/master_thesis_dash/MDS_s_curve_HD_data/LD_data.npy
code/master_thesis_dash/MDS_s_curve_HD_data/LD_distance_matrix.npy
code/master_thesis_dash/MDS_s_curve_HD_data/results_color.pkl
code/master_thesis_dash/MDS_s_curve_HD_data/results_RNX.pkl
code/master_thesis_dash/MDS_s_curve_LD_data/graph.npy
code/master_thesis_dash/MDS_s_curve_LD_data/HD_data.npy
code/master_thesis_dash/MDS_s_curve_LD_data/HD_distance_matrix.npy
code/master_thesis_dash/MDS_s_curve_LD_data/LD_data.npy
code/master_thesis_dash/MDS_s_curve_LD_data/LD_distance_matrix.npy
code/master_thesis_dash/MDS_s_curve_LD_data/results_color.pkl
code/master_thesis_dash/MDS_s_curve_LD_data/results_RNX.pkl
code/master_thesis_dash/MDS_spherical_data_data/graph.npy
code/master_thesis_dash/MDS_spherical_data_data/HD_data.npy
code/master_thesis_dash/MDS_spherical_data_data/HD_distance_matrix.npy
code/master_thesis_dash/MDS_spherical_data_data/LD_data.npy
code/master_thesis_dash/MDS_spherical_data_data/LD_distance_matrix.npy
code/master_thesis_dash/MDS_spherical_data_data/results_color.pkl
code/master_thesis_dash/MDS_spherical_data_data/results_RNX.pkl
code/master_thesis_dash/PCA_diabetes_distorded_x1.5_data/graph.npy
code/master_thesis_dash/PCA_diabetes_distorded_x1.5_data/HD_data.npy
code/master_thesis_dash/PCA_diabetes_distorded_x1.5_data/HD_distance_matrix.npy
code/master_thesis_dash/PCA_diabetes_distorded_x1.5_data/LD_data.npy
code/master_thesis_dash/PCA_diabetes_distorded_x1.5_data/LD_distance_matrix.npy
code/master_thesis_dash/PCA_diabetes_distorded_x1.5_data/results_color.pkl
code/master_thesis_dash/PCA_diabetes_distorded_x1.5_data/results_RNX.pkl
code/master_thesis_dash/PCA_s_curve_HD_data/graph.npy
code/master_thesis_dash/PCA_s_curve_HD_data/HD_data.npy
code/master_thesis_dash/PCA_s_curve_HD_data/HD_distance_matrix.npy
code/master_thesis_dash/PCA_s_curve_HD_data/LD_data.npy
code/master_thesis_dash/PCA_s_curve_HD_data/LD_distance_matrix.npy
code/master_thesis_dash/PCA_s_curve_HD_data/results_color.pkl
code/master_thesis_dash/PCA_s_curve_HD_data/results_RNX.pkl
code/master_thesis_dash/PCA_s_curve_LD_data/graph.npy
code/master_thesis_dash/PCA_s_curve_LD_data/HD_data.npy
code/master_thesis_dash/PCA_s_curve_LD_data/HD_distance_matrix.npy
code/master_thesis_dash/PCA_s_curve_LD_data/LD_data.npy
code/master_thesis_dash/PCA_s_curve_LD_data/LD_distance_matrix.npy
code/master_thesis_dash/PCA_s_curve_LD_data/results_color.pkl
code/master_thesis_dash/PCA_s_curve_LD_data/results_RNX.pkl
code/master_thesis_dash/PCA_spherical_data_data/graph.npy
code/master_thesis_dash/PCA_spherical_data_data/HD_data.npy
code/master_thesis_dash/PCA_spherical_data_data/HD_distance_matrix.npy
code/master_thesis_dash/PCA_spherical_data_data/LD_data.npy
code/master_thesis_dash/PCA_spherical_data_data/LD_distance_matrix.npy
code/master_thesis_dash/PCA_spherical_data_data/results_color.pkl
code/master_thesis_dash/PCA_spherical_data_data/results_RNX.pkl
code/master_thesis_dash/render.yaml
code/master_thesis_dash/requirements.txt
code/master_thesis_dash/runtime.txt
code/master_thesis_dash/src/..results_color.pkl
code/master_thesis_dash/src/__pycache__/app.cpython-311.pyc
code/master_thesis_dash/src/__pycache__/data_cache.cpython-311.pyc
code/master_thesis_dash/src/__pycache__/Utils.cpython-311.pyc
code/master_thesis_dash/t-SNE_diabetes_data/graph.npy
code/master_thesis_dash/t-SNE_diabetes_data/HD_data.npy
code/master_thesis_dash/t-SNE_diabetes_data/HD_distance_matrix.npy
code/master_thesis_dash/t-SNE_diabetes_data/LD_data.npy
code/master_thesis_dash/t-SNE_diabetes_data/LD_distance_matrix.npy
code/master_thesis_dash/t-SNE_diabetes_data/results_color.pkl
code/master_thesis_dash/t-SNE_diabetes_data/results_RNX.pkl
code/master_thesis_dash/t-SNE_diabetes_distorded_x1.5_data/graph.npy
code/master_thesis_dash/t-SNE_diabetes_distorded_x1.5_data/HD_data.npy
code/master_thesis_dash/t-SNE_diabetes_distorded_x1.5_data/HD_distance_matrix.npy
code/master_thesis_dash/t-SNE_diabetes_distorded_x1.5_data/LD_data.npy
code/master_thesis_dash/t-SNE_diabetes_distorded_x1.5_data/LD_distance_matrix.npy
code/master_thesis_dash/t-SNE_diabetes_distorded_x1.5_data/results_color.pkl
code/master_thesis_dash/t-SNE_diabetes_distorded_x1.5_data/results_RNX.pkl
code/master_thesis_dash/t-SNE_MNIST_data/graph.npy
code/master_thesis_dash/t-SNE_MNIST_data/HD_data.npy
code/master_thesis_dash/t-SNE_MNIST_data/HD_distance_matrix.npy
code/master_thesis_dash/t-SNE_MNIST_data/LD_data.npy
code/master_thesis_dash/t-SNE_MNIST_data/LD_distance_matrix.npy
code/master_thesis_dash/t-SNE_MNIST_data/results_color.pkl
code/master_thesis_dash/t-SNE_MNIST_data/results_RNX.pkl
code/master_thesis_dash/t-SNE_s_curve_HD_data/graph.npy
code/master_thesis_dash/t-SNE_s_curve_HD_data/HD_data.npy
code/master_thesis_dash/t-SNE_s_curve_HD_data/HD_distance_matrix.npy
code/master_thesis_dash/t-SNE_s_curve_HD_data/LD_data.npy
code/master_thesis_dash/t-SNE_s_curve_HD_data/LD_distance_matrix.npy
code/master_thesis_dash/t-SNE_s_curve_HD_data/results_color.pkl
code/master_thesis_dash/t-SNE_s_curve_HD_data/results_RNX.pkl
code/master_thesis_dash/t-SNE_s_curve_LD_data/graph.npy
code/master_thesis_dash/t-SNE_s_curve_LD_data/HD_data.npy
code/master_thesis_dash/t-SNE_s_curve_LD_data/HD_distance_matrix.npy
code/master_thesis_dash/t-SNE_s_curve_LD_data/LD_data.npy
code/master_thesis_dash/t-SNE_s_curve_LD_data/LD_distance_matrix.npy
code/master_thesis_dash/t-SNE_s_curve_LD_data/results_color.pkl
code/master_thesis_dash/t-SNE_s_curve_LD_data/results_RNX.pkl
code/master_thesis_dash/t-SNE_spherical_data_data/graph.npy
code/master_thesis_dash/t-SNE_spherical_data_data/HD_data.npy
code/master_thesis_dash/t-SNE_spherical_data_data/HD_distance_matrix.npy
code/master_thesis_dash/t-SNE_spherical_data_data/LD_data.npy
code/master_thesis_dash/t-SNE_spherical_data_data/LD_distance_matrix.npy
code/master_thesis_dash/t-SNE_spherical_data_data/results_color.pkl
code/master_thesis_dash/t-SNE_spherical_data_data/results_RNX.pkl
code/master_thesis_dash/TFE_PIERRE copy.pdf
code/master_thesis_dash/UMAP_diabetes_data/graph.npy
code/master_thesis_dash/UMAP_diabetes_data/HD_data.npy
code/master_thesis_dash/UMAP_diabetes_data/HD_distance_matrix.npy
code/master_thesis_dash/UMAP_diabetes_data/LD_data.npy
code/master_thesis_dash/UMAP_diabetes_data/LD_distance_matrix.npy
code/master_thesis_dash/UMAP_diabetes_data/results_color.pkl
code/master_thesis_dash/UMAP_diabetes_data/results_RNX.pkl
code/master_thesis_dash/UMAP_diabetes_distorded_x1.5_data/graph.npy
code/master_thesis_dash/UMAP_diabetes_distorded_x1.5_data/HD_data.npy
code/master_thesis_dash/UMAP_diabetes_distorded_x1.5_data/HD_distance_matrix.npy
code/master_thesis_dash/UMAP_diabetes_distorded_x1.5_data/LD_data.npy
code/master_thesis_dash/UMAP_diabetes_distorded_x1.5_data/LD_distance_matrix.npy
code/master_thesis_dash/UMAP_MNIST_data/graph.npy
code/master_thesis_dash/UMAP_MNIST_data/HD_data.npy
code/master_thesis_dash/UMAP_MNIST_data/HD_distance_matrix.npy
code/master_thesis_dash/UMAP_MNIST_data/LD_data.npy
code/master_thesis_dash/UMAP_MNIST_data/LD_distance_matrix.npy
code/master_thesis_dash/UMAP_MNIST_data/results_color.pkl
code/master_thesis_dash/UMAP_MNIST_data/results_RNX.pkl
code/master_thesis_dash/UMAP_s_curve_HD_data/graph.npy
code/master_thesis_dash/UMAP_s_curve_HD_data/HD_data.npy
code/master_thesis_dash/UMAP_s_curve_HD_data/HD_distance_matrix.npy
code/master_thesis_dash/UMAP_s_curve_HD_data/LD_data.npy
code/master_thesis_dash/UMAP_s_curve_HD_data/LD_distance_matrix.npy
code/master_thesis_dash/UMAP_s_curve_HD_data/results_color.pkl
code/master_thesis_dash/UMAP_s_curve_HD_data/results_RNX.pkl
code/master_thesis_dash/UMAP_s_curve_LD_data/graph.npy
code/master_thesis_dash/UMAP_s_curve_LD_data/HD_data.npy
code/master_thesis_dash/UMAP_s_curve_LD_data/HD_distance_matrix.npy
code/master_thesis_dash/UMAP_s_curve_LD_data/LD_data.npy
code/master_thesis_dash/UMAP_s_curve_LD_data/LD_distance_matrix.npy
code/master_thesis_dash/UMAP_s_curve_LD_data/results_color.pkl
code/master_thesis_dash/UMAP_s_curve_LD_data/results_RNX.pkl
code/master_thesis_dash/UMAP_spherical_data_data/graph.npy
code/master_thesis_dash/UMAP_spherical_data_data/HD_data.npy
code/master_thesis_dash/UMAP_spherical_data_data/HD_distance_matrix.npy
code/master_thesis_dash/UMAP_spherical_data_data/LD_data.npy
code/master_thesis_dash/UMAP_spherical_data_data/LD_distance_matrix.npy
code/master_thesis_dash/UMAP_spherical_data_data/results_color.pkl
code/master_thesis_dash/UMAP_spherical_data_data/results_RNX.pkl
code/master_thesis_dash/PCA_MNIST_data/LD_all_paths_2.npy
code/master_thesis_dash/PCA_MNIST_data/LD_all_paths.npy
code/master_thesis_dash/PCA_MNIST_data/HD_all_paths_2.npy
code/master_thesis_dash/PCA_MNIST_data/HD_all_paths.npy
code/master_thesis_dash/PCA_MNIST_data/lost_HD_all_paths.npy
code/master_thesis_dash/PCA_MNIST_data/lost_HD_all_paths_2.npy
code/master_thesis_dash/PCA_MNIST_data/lost_LD_all_paths.npy
code/master_thesis_dash/PCA_MNIST_data/lost_LD_all_paths_2.npy
